<h1 class="ms-2 mt-2">Stupid Coaching</h1>

<div class="bg-light border m-5 p-3">
<p class="fw-bold"><%= params[:question] %></p>
<p class="fst-italic">-You</p>
</div>

<div class="bg-warning border m-5 p-3">
<p class="fw-bold"><%= @answer %></p>
<p class="fst-italic">- Your coach</p>
</div>
<div class="ms-5">
<%= link_to "Ask a new question", ask_path %>
</div>
